<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>部落格</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <div class="wrap">
    <nav>
      <div class="content__block">
      <div class = "blog__title">Who's Blog</div>
        <ul>
          <li><a href="#">文章專區</a></li>
          <li><a href="#">分類專區</a></li>
          <li><a href="#">關於我</a></li>
        </ul>
      </div>
      <div class="management__block">
        <ul>
        <% if (username) { %>
          <li><a href="addPost">發布文章</a></li>
          <li><a href="backend">管理後台</a></li>
          <li><a href="logout">登出</a></li>
        <% } else {%>
          <li><a href="login">登入</a></li>
        <% } %>
        </ul>
      </div>
    </nav>
    <section class="blog__info">
      <div class="blog__name">存放技術之地</div>
      <div class="blog__greeting">Welcome to my blog</div>
    </section>
    <section class="blog__post">
      <% posts.forEach((post) => { %>
        <div class="post">
          <div class="post__upper-block">
            <div class="post__title"><%= post.title %></div>
            <form class="post__btn" method='GET'>
              <% if (username) {%>
                <a href="update/<%= post.id %>" class="post__update-btn">編輯</a>
                <a href="delete/<%= post.id %>" class="post__update-btn">刪除</a>
              <% }%>
            </form>
            
          </div>
          <div class="post__middle-block">
            <div class="post__info">
              <div class='time'><%= post.createdAt %></div>
            </div>
            <div class="post__content ellipsis"><%= post.content %></div>
            <a href="/readMore/<%= post.id %>" class="post__readmore-btn">READ MORE</a>
          </div>
        </div>
      <% }) %>
    </section>
  </div>
  <footer>
    Copyright © 2020 Who's Blog All Rights Reserved.
  </footer>
</body>
</html>